<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Content:</strong>
  <% @i = 0 %>
  <%
    begin
      @user.microposts.each do | post |
  %>
        <% post.content %>
     <% end %>
  <%rescue %>
      <%= "Didn't work." %>
  <%else %>
   <%
      @user.microposts.each do | post |
    %>
       <p></p>
       <% @i += 1 %>
       <%= "Post ##{@i}. " %>
       <%= post.content %>
      <% end %>
      <% if @i == 0 %>
        <%= "No posts yet" %>
      <% end %>
    <% end %>
  <p></p>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
